body {
	background:url(../images/bg.jpg) fixed;
}
#carousel {
	margin-top:-20px;
}
.data .imgm img {
	padding-left:10px;
	padding-right:10px;
	height:206px;
}
.cont .col-sm-4 .img {
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:260px;
	margin-top:20px;
}
.cont .col-sm-4 .img1 {
	margin-left:10px;
	margin-right:10px;
}
.col-md-4 {
	margin-top:20px;
	float:left;
	margin-bottom:20px;
}
.footer {
	background:#333333;
	margin-top:20px;
}
.footer .col-md-3  h4, p {
	color:#FFFFFF;
}
.footer .col-md-3 p {
	font-size:12px;
}
.footer .col-md-6  h4, p {
	color:#FFFFFF;
}
.footer .col-md-6 p {
	font-size:12px;
}
.footer a {
	color:#FFFFFF;
	float:left;
	text-decoration:none;
}
.footer a:hover {
	color:#FF6600;
	text-decoration:none;
}
.footer ul li {
	margin-left:-38px;
}
.copy {
	background-color:#333333;
}
.copy p {
	color:#CCCCCC;
	text-align:center;
	font-size:11px;
	padding-bottom:15px;
}
.map {
	margin-top:40px;
}
.breadcrumb {
	margin-top:-20px;
}
.cont {
	margin-top:-10px;
	min-height:300px;
}
.lcat {
	background:#0b86b9;
	margin-top:-20px;
}
.smen a {
	color:#FFFFFF;
	text-decoration:none;
}
.smen a p {
	margin-left:30px;
}
.smen a:hover {
	text-decoration:none;
	color:#FF6600;
}
.listdata {
	margin-bottom:20px;
}
.listdata .col-sm-4 .img, .img1 {
	background:#FFFFFF;
	border-radius:5px;
	height:350px;
}
.listdata .col-sm-4 h4 {
	color:#FF0000;
	text-decoration:none;
}
.listdata .col-sm-4 h4:hover {
	color:#000;
}
.listdata .col-sm-4 p {
	color:#000;
	text-decoration:none;
}
.listdata .col-sm-4 p:hover {
	color:#FF0000;
}
strong {
	margin-left:20px !important;
	font-size:20px;
}
.form:focus {
  	border-color: #01c4ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(126, 239, 104, 0.6);
}
.panel-body a {
	font-size:15px;
	color:#000000;
}
.panel-body a:hover {
	font-size:18px;
	color:#CCCCCC;
	text-decoration:none;
}
.panel-body {
	min-height:150px;
}
.panel-body .active {
	color:#ff0000;
}
.panel-heading {
	min-height:48px;
}
.listdata .col-sm-4 .img a:hover {
	text-decoration:none;
}
.dtxt p {
	color:#000000;
	font-size:16px;
	text-align:justify;
	padding-left:10px;
}
.vid {
	margin-top:20px;
	margin-bottom:20px;
}
.cont .col-sm-6 {
	padding-left:10px;
}
.cont .col-sm-4 {
	margin-left:10px;
}
.cont .col-sm-4, .vid1 {
	margin-right:-10px;
}
.navbar-right, .dropdown ul li a {
	margin-right:1px;
}
.left {
	margin-left:13px;
}
#cmlist a {
	color:#ffffff;
	margin-left:18px;
}
#cmlist a:hover {
	color:#26a5de;
	text-decoration:none;
}
.listdata h2 {
	margin-left:20px;
}



/* Login styles */

.login-bottom a{text-decoration:none;}
.head{
	position: relative;
    z-index: 1;
}
.login-form h2{
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 1.5em;
    line-height: 0.7em;
    letter-spacing: 0px;
}
span.fa.fa-lock {
    position: absolute;
    font-size: 75px;
    color: #e4eae7;
    left: 45%;
    top: -100%;
    z-index: -1;
}
/*-- main --*/
.main {
    padding: 3em 0 0;
    text-align: center;
}
.main-row {
    margin: 0 auto;
	background: #fff;
	max-width: 400px;
    padding: 3em 2em 2em;
    text-align: center;
	border:1px solid #000000;
}
.login-form input[type="text"], .login-form input[type="password"] {
    outline: none;
    font-size: .9em;
    letter-spacing: 1px;
    color: #666;
    padding: 1em 1em;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
	margin-bottom: 1em;
    -webkit-appearance: none;
    display: block;
    border: 1px solid #dde0df;
    background: #e4eae7;
}
.login-form p {
    font-size: 0.9em;
    color: #fff;
    margin: 1.5em 0 .8em;
    font-weight: 200;
    letter-spacing: 6px;
    text-align: left;
}
/*--placeholder-color--*/
::-webkit-input-placeholder{
	color: #666;
}

:-moz-placeholder { /* Firefox 18- */
   color: #666;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #666; 
}

:-ms-input-placeholder {  
   color: #666;
}
/*--//placeholder-color--*/ 

.login-form input[type="submit"] {
    font-size: 1em;
    color: #ffffff;
    background: #0f9d58;
    border: 1px solid #0f9d58;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
	text-transform: uppercase;
    width: 20%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	float:right;
}
.login-form input[type="reset"] {
    font-size: 1em;
    color: #ffffff;
    background:#FF0000;
    border: 1px solid #FF0000;
    outline: none;
    cursor: pointer;
    padding: .8em 1em;
    letter-spacing: 1px;
    -webkit-appearance: none;
	text-transform: uppercase;
    width: 20%;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	float:right;
	margin-left:10px;
}
.login-form input[type="submit"]:hover {
    background: #333;
    color: #fff; 
    border: 1px solid #333;  
} 
.login-form input[type="reset"]:hover {
    background: #333;
    color: #fff; 
    border: 1px solid #333;  
} 
.login-bottom {
    margin-top:1.6em;
    text-align: center;
}
.login-bottom {
    margin-top: 1.6em;
    text-align: center;
}
.login-bottom1 h3 {
    color: #fff;
    font-size: 1em;
    letter-spacing: 4px;
}
.login-bottom h6 {
    font-size: 1em;
    letter-spacing: 2px;
}
.login-bottom h6 a {
    color: #333;
    transition: 0.5s all ;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.login-bottom h6 a:hover{
    color: #0f9d58; 
}
/*-- //main --*/ 

/*-- responsive-design --*/ 
@media(max-width:1366px){
}
@media(max-width:1024px){
	h1 {
		font-size: 2.6em;
		margin-bottom: .8em;
		letter-spacing: 3px;
	}
	.main {
		padding: 2em 0 0;
		text-align: center;
	}
}
@media(max-width:991px){
	.main {
		padding: 3em 0 0;
	}
}
@media(max-width:900px){
	.copyright p {
		font-size: .9em;
	}
	ul.top-links li a {
		font-size: 14px;
	}
}
@media(max-width:800px){
	.login-bottom h6 { 
		letter-spacing: 3px;
	}
	.login-form h2{
		font-size: 2em; 
		margin-bottom: 1.2em;
	}
}
@media(max-width:768px){
	.login-form h2 {
		font-size: 1.7em;
		margin-bottom: 1.2em;
	}
}
@media(max-width:640px){
	h1 {
		font-size: 2.4em;
	}
	.main-row {
		max-width: 350px;
	}
} 
@media(max-width:568px){
	.login-form p {
		font-size: 0.8em; 
		margin:1.2em 0 .8em; 
		letter-spacing: 4px;
	}
	.login-form input[type="text"], .login-form input[type="password"] {
		padding: .8em 1em;
	}
	.login-form input[type="submit"] {
		padding: .8em 1em;
		font-size: .9em;
	}
	.login-form input[type="reset"] {
		padding: .8em 1em;
		font-size: .9em;
	}
	.login-form h2 {
		font-size: 1.6em;
	}
	h1 {
		font-size: 2.2em;
	}
	.login-form h2 {
		font-size: 1.8em;
		margin-bottom: 1em;
	}
	.copyright p {
		font-size: 0.9em; 
		padding: 0 1em;
	} 
	.login-bottom h6 {
		font-size: 0.9em; 
		letter-spacing: 3px;
	}
}
@media(max-width:480px){
	h1 {
		font-size: 1.9em;
	} 
	.login-form h2 {
		font-size: 1.6em;
		margin-bottom: 1em;
	}
	.main-row {
		max-width: 300px;
	}
	span.fa.fa-lock {
		font-size: 55px;
	}
}
@media(max-width:414px){ 
	h1 {
		font-size: 1.8em;
	} 
	.login-form h2 {
		font-size: 1.4em;
	}
	.login-form p {
		font-size: 0.75em;
		margin: 2em 0 .2em;
		letter-spacing: 2px;
	}
	.anim {
		font-size: 0.75em; 
	}
	.login-bottom {
		margin-top: 1em; 
	}
	.login-bottom1 h3 {
		letter-spacing: 2px;
	}
	ul.top-links li a {
		width: 40px;
		height: 35px;
		line-height: 35px;
	}
} 
@media(max-width:384px){
	h1 {
		letter-spacing: 2px;
	}
	.main {
		padding: 2em 0 0;
	}
}
@media(max-width:320px){  
	h1 {
		font-size: 1.5em; 
	}
	.login-form p {
		font-size: 0.7em; 
	}
	.login-bottom h6 {
		font-size: 0.75em;
		letter-spacing: 2px;
	}
	.login-bottom {
		margin-top: 0.8em;
	}
	.login-form h2 {
		font-size: 1.2em; 
	}
	.copyright p {
		font-size: 0.8em; 
	}
	.main {
		padding: 2em 0 0;
	}
	.copyright {
		padding: 1.4em 0 1em;
	}
	ul.top-links li {
		margin-left: 10px;
		margin-bottom: 28px;
	}
	ul.top-links li:nth-child(3) {
		margin-left: 10px;
		margin-bottom: 0px;
	}
}
/*-- //responsive-design --*/
.row {
	margin-bottom:20px;
}


/* Login styles */


.tabactive
{
color:red !important;
font-size:18px !important;
}
.impColor {
	color:red !important;
}
