body {
	background:url(../images/bg.jpg) fixed;
}
#carousel {
	margin-top:-20px;
}
.data .imgm img {
	padding-left:10px;
	padding-right:10px;
	height:206px;
}
.cont .col-sm-4 .img {
	margin-left:10px;
	margin-right:10px;
	float:left;
	width:260px;
	margin-top:20px;
}
.cont .col-sm-4 .img1 {
	margin-left:10px;
	margin-right:10px;
}
.col-md-4 {
	margin-top:20px;
	float:left;
	margin-bottom:20px;
}
.footer {
	background:#333333;
	margin-top:20px;
}
.footer .col-md-3  h4, p {
	color:#FFFFFF;
}
.footer .col-md-3 p {
	font-size:12px;
}
.footer .col-md-6  h4, p {
	color:#FFFFFF;
}
.footer .col-md-6 p {
	font-size:12px;
}
.footer a {
	color:#FFFFFF;
	float:left;
	text-decoration:none;
}
.footer a:hover {
	color:#FF6600;
	text-decoration:none;
}
.footer ul li {
	margin-left:-38px;
}
.copy {
	background-color:#333333;
}
.copy p {
	color:#CCCCCC;
	text-align:center;
	font-size:11px;
	padding-bottom:15px;
}
.map {
	margin-top:40px;
}
.breadcrumb {
	margin-top:-20px;
}
.cont {
	margin-top:-10px;
	min-height:300px;
}
.lcat {
	background:#0b86b9;
	margin-top:-20px;
}
.smen a {
	color:#FFFFFF;
	text-decoration:none;
}
.smen a p {
	margin-left:30px;
}
.smen a:hover {
	text-decoration:none;
	color:#FF6600;
}
.listdata {
	margin-bottom:20px;
}
.listdata .col-sm-4 .img, .img1 {
	background:#FFFFFF;
	border-radius:5px;
	height:350px;
}
.listdata .col-sm-4 h4 {
	color:#FF0000;
	text-decoration:none;
}
.listdata .col-sm-4 h4:hover {
	color:#000;
}
.listdata .col-sm-4 p {
	color:#000;
	text-decoration:none;
}
.listdata .col-sm-4 p:hover {
	color:#FF0000;
}
.panel-body a {
	font-size:15px;
	color:#000000;
}
.panel-body a:hover {
	font-size:18px;
	color:#CCCCCC;
	text-decoration:none;
}
.listdata .col-sm-4 .img a:hover {
	text-decoration:none;
}
.dtxt p {
	color:#000000;
	font-size:16px;
}
.vid {
	margin-top:20px;
	margin-bottom:20px;
}
.cont .col-sm-6 {
	padding-left:10px;
}
.cont .col-sm-4 {
	margin-left:10px;
}
.cont .col-sm-4, .vid1 {
	margin-right:-10px;
}
.navbar-right, .dropdown ul li a {
	margin-right:1px;
}
.left {
	margin-left:13px;
}
#cmlist a {
	color:#ffffff;
	margin-left:18px;
}
#cmlist a:hover {
	color:#26a5de;
	text-decoration:none;
}
.listdata h2 {
	margin-left:20px;
}