<html>  
  <body>  
  <h3>Hello, </h3> 
  
  <div>Your Request Submitted Successfully </div>
  <body>We received the request and our team will contact you soon.</body>
  <div>Thanks&Regards</div>
  </html> 