<html> 

  <body>  
  <h3>Dear ${name}, </h3> 
  <div>
  The Following Technician is assigned to you related to the service request no ${taskno} and His details is given below:
  </div>
  <table>
   <th>FirstName:</th>
  <td>${Firstname}</td>
  </tr>
  <tr>
  <th>LastName:</th>
  <td>${Lastname}</td>
  </tr>
  <tr>
  <th>MobileNumber:</th>
  <td>${mobileno}</td>
  </tr>
  <tr>
  <th>Description:</th>
  <td>${description}</td>
  </tr>
  </table>
  <div>Thanks & Regards</div>
  </body> 
  </html> 